<div id="fullScreen">全屏显示</div>
<footer id="footer" role="contentinfo">
  <div class="closed_txt">
    <p>双击木桌，</p>
    <p>打开或合上这本书。</p>
  </div>
  <div id="footer-admin">
    Theme By <a href="https://github.com/szyao/Gridea-Theme-Book" target="_blank" > Book</a>
    </br>
    <%- themeConfig.footerInfo %>
  </div>
  <div id="footer-copyright">
    <a href="https://beian.miit.gov.cn/" target="_blank"> <%- site.customConfig.beian%> </a> 
  </div>
</footer>