<div id="fullScreen">全屏显示</div>
<footer id="footer" role="contentinfo">
  <div class="closed_txt">
    <p>双击木桌，</p>
    <p>打开或合上这本书。</p>
  </div>
  <div id="footer-copyright">
    <%- themeConfig.footerInfo %>
    </br>
    Theme By <a href="https://github.com/szyao/Gridea-Theme-Book" target="_blank" > Book</a>
    <br>
    <a href="https://beian.miit.gov.cn/" target="_blank"> <%- site.customConfig.beian%> </a> 
  </div>
  <!-- <div id="footer-copyright">
    <a href="https://beian.miit.gov.cn/" target="_blank"> <%- site.customConfig.beian%> </a> 
  </div> -->
</footer>
<script >
  const checkElement = () => {
    const commentDiv = document.getElementById('tcomment');
    if (commentDiv && commentDiv.innerHTML.trim() === '') {
      twikoo.init({
        envId: '<%- site.customConfig.twikoo %>', // 腾讯云环境填 envId；Vercel 环境填地址（https://xxx.vercel.app）
        el: '#tcomment', // 容器元素
        // region: 'ap-guangzhou', // 环境地域，默认为 ap-shanghai，腾讯云环境填 ap-shanghai 或 ap-guangzhou；Vercel 环境不填
        // path: location.pathname, // 用于区分不同文章的自定义 js 路径，如果您的文章路径不是 location.pathname，需传此参数
        // lang: 'zh-CN', // 用于手动设定评论区语言，支持的语言列表 https://github.com/twikoojs/twikoo/blob/main/src/client/utils/i18n/index.js
      });
    }
  };
  // 初始检查 + 轮询（间隔 500ms）
  checkElement();
  setInterval(checkElement, 500);
</script>