<div id="fullScreen">全屏显示</div>
<footer id="footer" role="contentinfo">
  <div class="closed_txt">
    <p>双击木桌，</p>
    <p>打开或合上这本书。</p>
  </div>
  <!-- <a target="_blank" href="/console" id="footer-admin">ADMIN</a> -->
  <%- themeConfig.footerInfo %>
  <!-- <a href="https://beian.miit.gov.cn/" target="_blank">苏ICP备2025168244号</a> -->
</footer>